<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Eventos - La Güemes</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">La Güemes</div>
            <div class="menu">
                <a href="../index.html">Inicio</a>
                <a href="events.html">Eventos</a>
                <a href="gallery.html">Galería</a>
                <a href="contact.html">Contacto</a>
            </div>
            <div class="login">
                <a href="users/login.php" id="login-link"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</a>
                <a href="#" id="logout-link" style="display:none;"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="events">
            <h1>Eventos de La Güemes</h1>
            <a href="#" id="create-event" class="btn btn-primary" style="display:none;">Crear nuevo evento</a>
            <div id="event-list"></div>
        </section>
    </main>

    <footer>
        <p>Contactanos en nuestras redes sociales:</p>
        <div class="social-media">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="https://www.instagram.com/laguemes.curzas/">Instagram</a>
        </div>
        <p>Ubicación: Calle Falsa 123, Ciudad, País</p>
    </footer>

    <script src="../public/js/app.js"></script>
</body>

</html>